@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

header img {
  width: 35px;
  height: 35px;
}

#home,
#onas,
#galerie,
#ohlasy,
#form,
#mapa,
#kontakty {
  padding-top: 56px;
  background-color: $secondary;
}
#home {
  background-image: url(https://cdn.iview.abc.net.au/thumbs/i/zw/ZW2440A_6062aa7774320.jpg);
}
.modal button {
  background-color: rgb(117, 184, 230);
  color: black;
  border: none;
  &:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: all 0.3s linear;
  }
}
.buttons button,
#form button,
#onas button {
  width: 170px;
  box-shadow: 0 0 30px black;
}
.button1,
#form button,
#onas button {
  background-color: rgb(117, 184, 230);
  color: black;
  border: none;
  &:hover {
    background-color: white;
    color: black;
  }
}
.button2 {
  background-color: white;
  color: black;
  &:hover {
    background-color: black;
    color: white;
  }
}
#home,
#onas,
#form {
  min-height: 100vh;
}
#onas h3 {
  font-weight: bolder;
}
.about-card {
  border: 1px solid black;
  background-color: white;
}
.about-card > h3 {
  margin: 20px;
}
.about-card > img {
  width: 100%;
  height: fit-content;
}
#ohlasy p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.font1 {
  font-family: "Josefin Sans", sans-serif;
}
.font2 {
  font-family: "Barlow Condensed", sans-serif;
}
.font3 {
  font-family: "Cormorant Garamond", serif;
}
#kontakty img {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}
